:root {
  --bg-main-color: #ffffff;
  --btn-main-color: #0c9b37;
  --font-second-color: #0c9b37;
  --font-popping: 'Poppins', sans-serif;
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-popping);
  font-weight: 400;
  text-align: center;
}

header {
  width: 100vw;
  height: 10rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  background-color: var(--bg-main-color);
  position: fixed;
  border-bottom: 2px solid var(--font-second-color);
}

#header-img {
  width: 12rem;
  max-width: 12rem;
  height: auto;
}

.nav-link,
.nav-link:active,
.nav-link:hover {
  color: var(--font-second-color);
  font-size: 1.8rem;
  padding: 1rem;
  text-decoration: none;
}

.nav-link:active,
.nav-link:hover {
  font-weight: 600;
}

.section {
  width: 100vw;
  height: 80vh;
  border-bottom: 2px solid var(--font-second-color);
  padding: 1%;
}


.banana-heading {
  margin-top: 10rem;
  font-size: 2.8rem;
  color: var(--font-second-color);
}

.heading-text {
  font-size: 1.8rem;

}

.sec1-area {
  display: flex;
  justify-content: center;
  padding: 5%;
  padding-bottom: 2%;
}

.about-banana {
  border-top: 2px solid var(--font-second-color);
  border-bottom: 2px solid var(--font-second-color);
  padding: 2%;
}

#video {
  border-radius: 3%;
}

.about-banana-headings>li {
  display: flex;
  align-items: center;
  text-align: right;
  padding: 2rem;
  width: 60rem;

  margin-right: 2rem;
}

.about-banana-headings>li>h3 {
  width: 25rem;
  text-align: left;
  color: var(--font-second-color);
  font-size: 1.7rem;
}


.about-banana-headings>li>p {
  margin-left: 2rem;
  text-align: left;
  width: 35rem;
  font-size: 1.6rem;
}

.sec-2 {
  /* border: 2px solid var(--font-second-color); */
}

#products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 1.9rem;
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--font-second-color);
}

.item-name {
  font-size: 2.4rem;
  color: rgb(139, 110, 55);
  border-radius: 5%;
  width: 20rem;
  height: 7rem;
}

.product-item>p {
  width: 15vw;
  height: 5vh;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border: 2px solid rgb(110, 74, 6);
  border-radius: 5px;
  background-color: var(--btn-main-color);
  color: var(--bg-main-color);
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.btn:hover {
  background-color: var(--bg-main-color);
  color: var(--btn-main-color);
  font-weight: 600;
}

.btn:active {
  transform: translateY(4px);
}

article {
  margin-top: 5%;
  padding: 5%;
  font-size: 2rem;
  text-align: justify;
}

form {
  padding: 2%;
}

form>label {
  font-size: 2rem;
}

.sec-4 {
  margin: auto;
  height: 5vh;
}

.socials {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2rem;
}

.socials>li {
  list-style: none;

}

@media only screen and (max-width: 600px) {
  html {
    font-size: 40%;
    scroll-behavior: smooth;
  }


  .section {
    width: 100vw;
    height: auto;
  }

  #video {
    width: 55rem;
  }

  .sec1-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #products {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }


  article {

    font-size: 1.4rem;

  }

}